
.vs/ColourCoded.Security.API/DesignTimeBuild/.dtbcache
.vs/ColourCoded.Security.API/v15/.suo
.vs/ColourCoded.Security.API/v15/Server/sqlite3/storage.ide-shm
*.dbmdl
*.jfm
ColourCoded.Security.API.Tests/obj/Debug/netcoreapp2.1/ColourCoded.Security.API.Tests.csprojAssemblyReference.cache
ColourCoded.Security.API.Tests/bin/Debug/netcoreapp2.1/ColourCoded.Security.API.pdb
ColourCoded.Security.API.Tests/bin/Debug/netcoreapp2.1/ColourCoded.Security.API.dll
.vs/ColourCoded.Security.API/v15/Server/sqlite3/storage.ide-wal
.vs/ColourCoded.Security.API/v15/Server/sqlite3/storage.ide-shm
.vs/ColourCoded.Security.API/v15/Server/sqlite3/storage.ide
.vs/ColourCoded.Security.API/v15/.suo
*.ide
*.ide-shm
*.ide-wal
*.dll
*.pdb
*.cache
*.dacpac
ColourCoded.Security.OLTP/bin/Debug/ColourCoded.Security.OLTP.dll
ColourCoded.Security.OLTP/bin/Debug/ColourCoded.Security.OLTP.pdb
ColourCoded.Security.OLTP/ColourCoded.Security.OLTP.dbmdl
ColourCoded.Security.OLTP/ColourCoded.Security.OLTP.jfm
ColourCoded.Security.OLTP/obj/Debug/ColourCoded.Security.OLTP.dll
ColourCoded.Security.OLTP/obj/Debug/ColourCoded.Security.OLTP.pdb
